.introducao {
    font-size: 3em;
    line-height: 1;
    max-width: $width-md;
    padding:60px 10px;
    margin:0 auto;
}

// ********************************************************
// About
// ********************************************************

.sobre {
    border-top:2px solid $light-blue;
    border-bottom:2px solid $light-blue;
    padding:60px 0;
    display:flex;
    flex-wrap:wrap;
    .sobre-info {
        flex:2 1 300px; // ocupa o dobro do espaco em relacao aos demais itens
        margin:0 10px;
        h1 {
            font-size: $title-section-size;
            margin-bottom:.5em;
        }

        p {
            font-size: $font-size-content;
            line-height: 1.4;
            margin-bottom:1em;
            color:$gray-default
        }
    }

    .sobre-img {
        flex:1 1 160px;
        margin:0 10px;
    }
}




// ********************************************************
// Produtos
// ********************************************************

.produtos {
    max-width: $width-md;
    margin:60px auto;
    h1 {
        font-size: $title-section-size;
        margin: 0 10px 60px 10px;
    }

    .produtos-container {
        display:flex;
        flex-wrap: wrap;
        align-items: flex-end;

        .produtos-item {
            flex:1 1 175px;
            margin:10px;
            
            h2 {
                font-size: $title-secundary-section-size;
                color:#a4a4a4;
                background: $light-gray;
                padding:40px 20px;
            }
            &.purple {
                border-top: 7px solid #ae81ff;
                img {
                    height:270px;
                    width:100%;
                }
            }
            &.pink {
                border-top: 7px solid #f9265e;
            }
            &.blue {
                border-top: 7px solid #66d9eb;
                img {
                    height:320px;
                    width:100%;
                }
            }
        }
    }
}