// VARIABLES

// GRIDS
$width-md:906px;


// COLORS
$light-blue:#2c70ff;
$dark-blue: #122ab2;
$gray-default: #7c7c7c;


// TITLES SIZE
$title-section-size:2em;

// FONT SIZE
$font-size-content: 1.25em;
