<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title><%= htmlWebpackPlugin.options.title%></title>
  </head>

  <body>
    <navigation></navigation>
    <div class="introducao">
      <h1>Os valores são a fonte e<br />caminhos a serem seguidos</h1>
    </div>

    <section class="sobre" id="sobre">
      <div class="sobre-info">
        <h1>Sobre</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Error modi
          dolore quisquam aliquam alias assumenda mollitia, consequuntur, atque
          beatae, exercitationem deleniti dolor placeat molestias dolorum labore
          quia maiores et totam.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Error modi
          dolore quisquam aliquam alias assumenda mollitia, consequuntur, atque
          beatae, exercitationem deleniti dolor placeat molestias dolorum labore
          quia maiores et totam.
        </p>
      </div>
      <div class="sobre-img">
        <img
          src="https://images.unsplash.com/photo-1605488966977-a0eb707550c0?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=250&q=80"
          alt="Sobre 2"
        />
      </div>
      <div class="sobre-img">
        <img
          src="https://images.unsplash.com/photo-1608080969021-dd6328f897ca?ixid=MXwxMjA3fDB8MHx0b3BpYy1mZWVkfDF8cm5TS0RId3dZVWt8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=250&q=60"
          alt="Sobre 1"
        />
      </div>
    </section>

    <section class="produtos" id="produtos">
      <h1>Produtos</h1>
      <div class="produtos-container">
        <div class="produtos-item purple">
          <h2>Purple</h2>
          <img
            src="https://images.unsplash.com/photo-1605488966977-a0eb707550c0?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=234&q=80"
            alt="Produtos 1"
          />
        </div>

        <div class="produtos-item pink">
          <h2>Pink</h2>
          <img
            src="https://images.unsplash.com/photo-1605488966977-a0eb707550c0?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=234&q=80"
            alt="Produtos 2"
          />
        </div>

        <div class="produtos-item blue">
          <h2>Blue</h2>
          <img
            src="https://images.unsplash.com/photo-1605488966977-a0eb707550c0?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=234&q=80"
            alt="Produtos 3"
          />
        </div>
      </div>
    </section>

    <section class="preco" id="preco">
      <div class="preco-container">
        <div class="preco-item">
          <h2>Cobre</h2>
          <span><sup>R$</sup>19</span>
          <ul>
            <li>Status I - Axl</li>
            <li>Status II - Axl 20</li>
            <li>Status III - Axl 20</li>
            <li>Plano IV</li>
          </ul>
          <a href="#">Comprar</a>
        </div>
        <div class="preco-item">
          <h2>Prata</h2>
          <span><sup>R$</sup>29</span>

          <ul>
            <li>Status I - Axl</li>
            <li>Status II - Axl 20</li>
            <li>Status III - Axl 20</li>
            <li>Plano IV</li>
            <li>Status III - Axl 20</li>
            <li>Status III - Axl 20</li>
          </ul>
          <a href="#">Comprar</a>
        </div>
        <div class="preco-item">
          <h2>Ouro</h2>
          <span><sup>R$</sup>49</span>

          <ul>
            <li>Status I - Axl</li>
            <li>Status II - Axl 20</li>
            <li>Status III - Axl 20</li>
            <li>Plano IV</li>
            <li>Status dev - Axl 20</li>
            <li>Status tests - Axl 20</li>
            <li>Status master - Axl 20</li>
            <li>Status flow - Axl 20</li>
          </ul>
          <a href="#">Comprar</a>
        </div>
      </div>
    </section>

    <section class="qualidade" id="qualidade">
      <div class="qualidade-item">
        <h2>Integer</h2>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. At
          recusandae odio minus adipisci vitae, ea, quae molestias nesciunt
          quisquam eaque maiores saepe velit, eligendi ex quidem rem est
          veritatis expedita.
        </p>
      </div>
      <div class="qualidade-item">
        <h2>Number</h2>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. At
          recusandae odio minus adipisci vitae, ea, quae molestias nesciunt
          quisquam eaque maiores saepe velit, eligendi ex.
        </p>
      </div>
      <div class="qualidade-item">
        <h2>Float</h2>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. At
          recusandae odio minus adipisci vitae, ea, quae molestias nesciunt
          quisquam eaque maiores saepe velit, eligendi ex quidem rem est
          veritatis expedita.
        </p>
      </div>
      <div class="qualidade-item">
        <h2>Decimal</h2>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. At
          recusandae odio minus adipisci vitae.
        </p>
      </div>
      <div class="qualidade-item">
        <h2>Undefined</h2>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. At
          recusandae odio minus adipisci vitae,eligendi ex quidem rem est
          veritatis expedita.
        </p>
      </div>
      <div class="qualidade-item">
        <h2>NotNull</h2>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. At
          recusandae oditae, ea, quae molestias nesciunt quisquam eaque maiores
          saepe velit, eligendi ex quidem rem est veritatis expedita erae.
        </p>
      </div>
    </section>

    <section class="newsletter">
      <div class="newsletter-info">
        <h1>Newsletter</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicin.</p>
      </div>
      <form action="" class="newsletter-form">
        <input type="text" placeholder="Seu e-mail" />
        <button type="submit">Assinar</button>
      </form>
    </section>

    <footer class="footer">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elitns.</p>
    </footer>
  </body>
</html>
